<template name="BlankLayout">

  <div class="ui fixed transparent inverted main menu">
    <div class="container">
      <div class="title item">
        <a href="/">Meteor Dose:</a> Weekly Dose of Meteor Web Framework
      </div>

      <div class="right menu">
        <div class="vertically fitted borderless item">
          <a class="item" href="#">About</a>
          <a href="https://github.com/rizafahmi/mlog" data-content="View project on Github" class="popup icon github item">
            <i class="icon github"></i>
          </a>
        </div>
      </div>
    </div>
  </div> <!--./main menu -->

  {{> yield}}
</template>
