<template name="BlankLayout">

  <div class="ui fixed transparent inverted main menu">
    <div class="container">
      <div class="title item">
        <a href="/">Elixir Dose:</a> Weekly Dose of Elixir Programming Language
      </div>

      <div class="right menu">
        <div class="vertically fitted borderless item">
          <a class="item" href="#">About</a>
          <a href="https://github.com/rizafahmi/mlog" data-content="View project on Github" class="popup icon github item">
            <i class="icon github"></i>
          </a>
        </div>
      </div>
    </div>
  </div> <!--./main menu -->

  {{> yield}}


  <!-- ======= FOOTER ============= -->
  <div class="ui inverted black page grid segment">
    <div class="ten wide column">
      <div class="ui column stackable grid">
        <div class="column">
          <div class="ui header">Socials</div>
          <!-- <div class="ui inverted link list"> -->
            <a href="#" class="ui button teal"><i class="icon rss"></i>RSS</a>
            <a href="#" class="ui twitter button"><i class="icon twitter"></i>Twitter</a>
            <!-- <a href="#">Google+</a> -->
            <a href="#" class="ui gittip button"><i class="icon gittip"></i>Gittip</a>
            <a href="#" class="ui paypal button orange animated">
              <div class="visible content">
                <i class="icon payment"></i> Donate
              </div>
              <div class="hidden content">
                <i class="icon thumbs up"></i> via Paypal
              </div>
            </a>

          <!-- </div> -->
        </div>
      </div>
    </div>
    <div class="six wide right floated aligned column">
      <h3 class="ui header">The Dose Network</h3>
      <div class="ui link list inverted">
        <a class="item" href="http://www.elixirdose.com/">Elixir Dose</a>
        <a class="item" href="http://www.meteordose.com/" target="_blank">Meteor Dose</a>
      </div>
    </div>
  </div>

</template>
