<template name="PostSubmit">
  <div class="ui page grid segment">
    <div class="column post submit">
      <div class="ui form">
        <form name="postSubmit" data-parsley-validate>
          <div class="field">
            <input name="title" id="title" placeholder="Your awesome article title"
            type="text" required>
          </div>
          <div class="field">
            <textarea name="content" id="content" 
              placeholder="Your awesome article content" required></textarea>
          </div>
          <button class="ui orange submit button" type="submit">Save</button>
        </form>
      </div>
    </div>
  </div> <!--./segment -->
</template>
