/*****************************************************************************/
/* PostSubmit: Style */
/*****************************************************************************/

.box.preview{
  overflow: scroll;
  height: 385px;
  background-color: #fafafa;
}
