<template name="PostDetail">
  <div class="ui page grid segment">
    <div class="column">
      <h2 class="ui header">{{title}}</h2>
      <div class="ui black label date">{{datePublish}}</div>
      <p class="text">{{#markdown}}{{{content}}}{{/markdown}}</p>

      <div class="ui dividing">
        <a class="ui button small animated" href="{{pathFor 'posts.index'}}">
          <div class="visible content">
            Back
          </div>
          <div class="hidden content">
            <i class="left arrow icon"></i>
          </div>
        </a>
        {{#if currentUser}}
        <a class="ui button small red" href="{{pathFor 'post.edit'}}">Edit</a>
        {{/if}}
      </div>
      {{> CommentSubmit}}
    </div>
  </div> <!--./segment -->
</template>
