<template name="PostDetail">
  <div class="ui page grid segment">
    <div class="column">
      <h2 class="ui header">{{title}}</h2>
      <div class="ui black label date">{{datePublish}}</div>
      <p>{{#markdown}}{{{content}}}{{/markdown}}</p>
      <a class="ui button small animated" href="{{pathFor 'posts.index'}}">
        <div class="visible content">
          Back
        </div>
        <div class="hidden content">
          <i class="left arrow icon"></i>
        </div>
      </a>
    </div>
  </div> <!--./segment -->
</template>
