<template name="MasterLayout">

  <div class="ui fixed transparent inverted main menu">
    <div class="container">
      <div class="title item">
        <a href="/">Elixir Dose:</a> Weekly Dose of Elixir Programming Language
      </div>

      <div class="right menu">
        <div class="vertically fitted borderless item">
          <a class="item" href="#">About</a>
          <a href="https://github.com/rizafahmi/mlog-ng" data-content="View project on Github" class="popup icon github item">
            <i class="icon github"></i>
          </a>
        </div>
      </div>
    </div>
  </div> <!--./main menu -->



  <div class="masthead segment">
    <div class="ui page grid">
      <div class="column">
        <div class="introduction">
          <h1 class="ui header">Elixir Dose</h1>
          <h2 class="ui header">A weekly dose of Elixir Programming Language.</h2>
          <p> This is a journal of the overlooked tiny bits in young programming language. Will update weekly or two, as a way to build the habit of writing something on a regular basis. Authored by <a href="https://twitter.com/rizafahmi22" target="_blank">Riza</a> and <a href="https://twitter.com/augidb" target="_blank">Augie</a> as Editor In Chief.</p>


          <form action="http://elixirdose.us4.list-manage2.com/subscribe/post?u=73c2706174b7f2703c432c70c&amp;id=f7b2717e3a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div class="ui action input large">
              <input placeholder="Weekly Dose Straight to Your Inbox" style="width: 345px" type="text" id="mce-EMAIL" name="EMAIL">
              <a href="#" onclick="$(this).closest('form').submit()" class="ui button orange animated">
                <div class="visible content">
                  Engage
                </div>
                <div class="hidden content">
                  <i class="icon mail outline"></i>
                </div>
              </a>
            </div>
          </form>


        </div>
      </div>
    </div>
  </div><!--./ masthead segment -->

  {{> yield}}

  <!-- ======= FOOTER ============= -->
  <div class="ui inverted black page grid segment">
    <div class="nine wide column">
      <div class="ui column stackable grid">
        <div class="column">
          <div class="ui header">Socials</div>
          <!-- <div class="ui inverted link list"> -->
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <a href="http://www.elixirdose.com/rss/feed" target="_blank" class="ui button teal"><i class="icon rss"></i>RSS</a>
              <a href="https://twitter.com/elixirdose" target="_blank" class="ui twitter button"><i class="icon twitter"></i>Twitter</a>
              <!-- <a href="#">Google+</a> -->
              <a href="https://www.gittip.com/rizafahmi22/" target="_blank" class="ui gittip button"><i class="icon gittip"></i>Gittip</a>


              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="9HDPPVD6V8AJQ">
              <button type="submit" class="ui paypal button orange animated">
                <div class="visible content">
                  <i class="icon payment"></i> Donate
                </div>
                <div class="hidden content">
                  <i class="icon thumbs up"></i> via Paypal
                </div>
              </button>
              <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
              </form>


          <!-- </div> -->
        </div>
      </div>
    </div>
    <div class="three wide right floated aligned column">
	<a target="_blank" title="ElixirSips cover" href="http://elixirsips.com"><img width="190" height="160" src="http://elixirsips.com/images/ElixirLangAd2_190x160.png"></a>
    </div>
    <div class="four wide right floated aligned column">
      <h3 class="ui header">The Dose Network</h3>
      <div class="ui link list inverted">
        <a class="item" href="http://www.elixirdose.com/" target="_blank">Elixir Dose</a>
        <a class="item" href="#">Meteor Dose</a>
      </div>
    </div>
  </div>

</template>
